@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
@using DinoDiner.Menu
<div class="Menu">
    <h1>Menu</h1>
    <div class="Combo">
        <h2>Combos</h2>
        @foreach (IMenuItem item in Model.Menu.AvailableCombos)
        {
            <div class="item">
                <p>@item.ToString()</p>
                <div class="details">
                    $@item.Price /  @item.Calories Calories
                </div>
                <h4>Ingredients</h4>
                @foreach (string ingredient in item.Ingredients)
                {
                    <div class="ingredients">
                        <p>   @ingredient</p>
                    </div>
                }
            </div>
        }
    </div>

    <div class="Entrees">
        <h2>Entrees</h2>
        @foreach (IMenuItem item in Model.Menu.AvailableEntrees)
        {
            <div class="item">
                <p>@item.ToString()</p>
                <div class="details">
                    $@item.Price /  @item.Calories Calories
                </div>
                <h4>Ingredients</h4>
                @foreach(string ingredient in item.Ingredients)
                {
                    <div class="ingredients">
                        <p>   @ingredient</p>
                    </div>
                }
            </div>
        }
    </div>

    <div class="Sides">
        <h2>Sides</h2>
        @foreach (IMenuItem item in Model.Menu.AvailableSides)
        {
            <div class="item">
                <p>@item.ToString()</p>
                <div class="details">
                    $@item.Price /  @item.Calories Calories
                </div>
                <h4>Ingredients</h4>
                @foreach (string ingredient in item.Ingredients)
                {
                    <div class="ingredients">
                        <p>   @ingredient</p>
                    </div>
                }
            </div>
        }
    </div>

    <div class="Drinks">
        <h2>Drinks</h2>
        @foreach (IMenuItem item in Model.Menu.AvailableDrinks)
        {
            <div class="item">
                <p>@item.ToString()</p>
                <div class="details">
                    $@item.Price /  @item.Calories Calories
                </div>
                <h4>Ingredients</h4>
                @foreach (string ingredient in item.Ingredients)
                {
                    <div class="ingredients">
                        <p>   @ingredient</p>
                    </div>
                }
            </div>
        }
    </div>
</div> 